.desk{
  height: 800px;
  display: flex;
  background-color: lightblue;
  justify-content: space-between;
  flex-direction: column;
}

.sieve-row{

}

.sieve{
  width: 60px;
  height: 60px;
  background-color: whitesmoke;
}

.dot{
  background-color: red;
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

.sieve[dot="1"]{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sieve[dot="2"]{
  display: flex;
  justify-content: space-around;
}

.sieve[dot="2"]>.dot:nth-child(2){
  align-self: flex-end;
}

.sieve[dot="3"]{
  display: flex;
  justify-content: space-around;
}

.sieve[dot="3"]>.dot:nth-child(2){
  align-self: center;
}
.sieve[dot="3"]>.dot:nth-child(3){
  align-self: flex-end;
}

.sieve[dot="4"]{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sieve[dot="4"]>div{
  display: flex;
  justify-content: space-around;
}

.sieve[dot="5"]{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sieve[dot="5"]>div{
  display: flex;
  justify-content: space-around;
}

.sieve[dot="6"]{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sieve[dot="6"]>div{
  display: flex;
  justify-content: space-around;
}

.sieve[dot="7"]{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sieve[dot="7"]>div{
  display: flex;
  justify-content: space-around;
}

.sieve[dot="8"]{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sieve[dot="8"]>div{
  display: flex;
  justify-content: space-around;
}

.sieve[dot="8"]>div:nth-child(3)>.dot:nth-child(3){
  visibility: hidden;
}

.sieve[dot="9"]{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sieve[dot="9"]>div{
  display: flex;
  justify-content: space-around;
}