#outer ul{
  padding: 0px;
}

#outer li{
  list-style: none;
}

#ul_inner{
  display: flex;
  flex-flow: column nowrap
}

#div_inner{
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
}

.large{
  width: 80px;
  height: 40px;
  background-color: red;
}

.middle{
  width: 60px;
  height: 30px;
  background-color: blue;
}

.small{
  width: 20px;
  height: 80px;
  background-color: green;
}